{% extends '_auth-base.html' %}

{% block title %}
  Socio App | Signup
{% endblock %}

{% block body %}
  <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Sign in to your account</h1>
    <form class="space-y-4 md:space-y-6" action="{% url 'account:register' %}" method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="p-4 my-2 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <ul>
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="block md:flex space-x-2">
        <div>
          <input type="text" name="first_name" id="first_name" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500" placeholder="John" value="{{ form.first_name.value|default_if_none:'' }}" />
          {% include 'components/input-error-label.html' with errors=form.first_name.errors %}
        </div>
        <div>
          <input type="text" name="last_name" id="last_name" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500" placeholder="Doe" value="{{ form.last_name.value|default_if_none:'' }}" />
          {% include 'components/input-error-label.html' with errors=form.last_name.errors %}
        </div>
      </div>
      <div>
        <input type="text" name="username" id="username" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500" placeholder="johnduo123" required="" value="{{ form.username.value|default_if_none:'' }}" />
        {% include 'components/input-error-label.html' with errors=form.username.errors %}
      </div>
      <div>
        <input type="email" name="email" id="email" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500" placeholder="john@example.com" required="" value="{{ form.email.value|default_if_none:'' }}" />
        {% include 'components/input-error-label.html' with errors=form.email.errors %}
      </div>
      <div>
        <input type="password" name="password" id="password" placeholder="••••••••" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500" required="" />
        {% include 'components/input-error-label.html' with errors=form.password.errors %}
      </div>
      <div>
        <input type="password" name="password_confirm" id="password_confirm" placeholder="••••••••" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500" required="" />
        {% include 'components/input-error-label.html' with errors=form.password_confirm.errors %}
      </div>
      <button type="submit" class="w-full text-white bg-emerald-600 hover:bg-emerald-700 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Create account</button>
      <p class="text-sm font-light text-gray-500">
        Already have an account? <a href="{% url 'account:login' %}" class="font-medium text-emerald-600 hover:underline">Sign In</a>
      </p>
    </form>
  </div>
{% endblock %}
