[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==5.0.8"
mysqlclient = "==2.2.4"
python-dotenv = "==1.0.1"
sqlparse = "==0.5.1"
tzdata = "==2024.1"
pillow = "*"

[dev-packages]
django-extensions = "*"
django-browser-reload = "*"

[requires]
python_version = "3.12"
