<li class="flex items-center justify-between space-x-4" id="user-item-{{ user.username }}">
  <a href="{% url 'accounts:profile' user.username %}" class="flex items-center space-x-2 flex-grow">
    <div class="w-12 h-12 rounded-full bg-gray-300 border-4 border-white flex justify-center items-center">
      {% if user.profile.profile_picture %}
        <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }} profile Image" class="w-full h-full object-cover rounded-full" />
      {% else %}
        <svg class="text-gray-500 w-full" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve">
          <g>
            <g>
              <path d="M80,71.2V74c0,3.3-2.7,6-6,6H26c-3.3,0-6-2.7-6-6v-2.8c0-7.3,8.5-11.7,16.5-15.2c0.3-0.1,0.5-0.2,0.8-0.4
                        c0.6-0.3,1.3-0.3,1.9,0.1C42.4,57.8,46.1,59,50,59c3.9,0,7.6-1.2,10.8-3.2c0.6-0.4,1.3-0.4,1.9-0.1c0.3,0.1,0.5,0.2,0.8,0.4
                        C71.5,59.5,80,63.9,80,71.2z" />
            </g>
            <g>
              <ellipse cx="50" cy="36.5" rx="14.9" ry="16.5" />
            </g>
          </g>
        </svg>
      {% endif %}
    </div>
    <div>
      {% if user.first_name %}
        <span class="block text-xs font-semibold text-gray-900">{{ user.first_name }} {{ user.last_name }}</span>
        <span class="block text-xs text-gray-500">{{ user.username }}</span>
      {% else %}
        <span class="block text-xs font-semibold text-gray-900">{{ user.username }}</span>
      {% endif %}
    </div>
  </a>

  {% if request.user != user %}
    {% include 'components/follow-button.html' with user=user is_followed=is_followed %}
  {% endif %}
</li>
