{% extends '_base.html' %}

{% block title %}
  Socio App | {{ user.username }}'s Profile
{% endblock %}

{% block body %}
  <div class="max-w-5xl p-4 sm:px-6 lg:px-8 sm:py-10 space-y-6">
    <div>
      {# Cover image #}
      <div class="w-full h-40 md:h-60 bg-gray-200 rounded-lg overflow-hidden">
        {% if user.profile.cover_image %}
          <img src="{{ user.profile.cover_image.url }}" class="file-placeholder object-cover w-full h-full rounded-lg" alt="{{ user.username }} Cover Image" />
        {% endif %}
      </div>

      <div class="flex flex-col justify-center cursor-pointer -mt-20 px-4">
        {# Profile image #}
        <div class="w-32 h-32 rounded-full bg-gray-300 border-4 border-white flex justify-center items-center">
          {% if user.profile.profile_image %}
            <img src="{{ user.profile.profile_image.url }}" class="file-placeholder object-cover w-full h-full rounded-full" alt="{{ user.username }} Profile Image" />
          {% else %}
            <svg class="text-gray-500 w-full" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve">
              <g>
                <g>
                  <path d="M80,71.2V74c0,3.3-2.7,6-6,6H26c-3.3,0-6-2.7-6-6v-2.8c0-7.3,8.5-11.7,16.5-15.2c0.3-0.1,0.5-0.2,0.8-0.4
                      c0.6-0.3,1.3-0.3,1.9,0.1C42.4,57.8,46.1,59,50,59c3.9,0,7.6-1.2,10.8-3.2c0.6-0.4,1.3-0.4,1.9-0.1c0.3,0.1,0.5,0.2,0.8,0.4
                      C71.5,59.5,80,63.9,80,71.2z" />
                </g>
                <g>
                  <ellipse cx="50" cy="36.5" rx="14.9" ry="16.5" />
                </g>
              </g>
            </svg>
          {% endif %}
        </div>

        {# User info #}
        <div class="flex flex-col gap-2 md:flex-row justify-between md:items-center">
          <div>
            {% if user.first_name %}
              <h2 class="text-2xl font-semibold text-gray-900">{{ user.first_name }} {{ user.last_name }}</h2>
              <p class="text-sm text-gray-500">@{{ user.username }}</p>
            {% else %}
              <h2 class="text-2xl font-semibold text-gray-900">@{{ user.username }}</h2>
            {% endif %}
          </div>

          {# Action buttons #}
          <div class="self-end">
            {% if not request.user == user %}
              {% include 'components/follow-button.html' with user=user is_followed=is_followed %}
            {% else %}
              <a href="{% url 'accounts:update_profile' %}" class="cursor-pointer border-emerald-600 border-2 text-emerald-600 hover:bg-emerald-600 hover:text-white px-4 py-1 rounded-lg">Update profile</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {# Bio #}
    {% if user.profile.bio %}
      <p class="text-gray-700">{{ user.profile.bio }}</p>
    {% endif %}

    {# Stats #}
    <div class="flex justify-between w-full md:w-3/5 mx-auto">
      <div class="flex flex-col items-center">
        <span class="text-lg font-semibold text-gray-900 posts-count">{{ user.post.count }}</span>
        <span class="text-sm text-gray-500">Posts</span>
      </div>
      <button type="button" class="flex flex-col items-center get-followers-btn modal-toggler" data-modal-target="followers-modal" data-modal-toggle="followers-modal" data-url="{% url 'followers:followers_list' user.username %}" data-title="Followers">
        <span class="text-lg font-semibold text-gray-900 followers-count">{{ user.following.count }}</span>
        <span class="text-sm text-gray-500">Followers</span>
      </button>
      <button class="flex flex-col items-center get-followers-btn modal-toggler" data-modal-target="followers-modal" data-modal-toggle="followers-modal" data-url="{% url 'followers:following_list' user.username %}" data-title="Followings">
        <span class="text-lg font-semibold text-gray-900 followings-count">{{ user.follower.count }}</span>
        <span class="text-sm text-gray-500">Following</span>
      </button>
    </div>

    {# posts #}
    <section class="max-w-xl">
      <h2 class="text-lg md:text-2xl font-semibold text-gray-900 mb-4">Posts</h2>
      <div class="posts-container space-y-4">
        {% for post in posts %}
          {% include 'components/post-card.html' with post=post %}
        {% empty %}
          <div class="posts-empty-container">
            {% if request.user == user %}
              {% include 'components/create-post-button.html' with text='Create your first post' %}
            {% else %}
              <p class="text-gray-500">No posts yet</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </section>
  </div>

  <div id="followers-modal" tabindex="-1" aria-hidden="true" class="hidden bg-black/70 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full" data-type="followers">
    <div class="relative p-4 w-full max-w-md max-h-full post-modal-inner">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
          <h3 class="text-lg font-semibold text-gray-900 modal-title">Followers</h3>
          <button type="button" class="modal-toggler text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="followers-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5 followers-container"></div>
      </div>
    </div>
  </div>
{% endblock %}
