{% extends '_base.html' %}
{% load static %}

{% block title %}
  Socio App | Update {{ post.author.username }}'s Profile
{% endblock %}

{% block body %}
  <div class="max-w-3xl p-4 sm:px-6 lg:px-8 sm:py-10">
    <form class="p-4 md:p-5" action="{% url 'posts:update' post.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="p-4 my-2 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <ul>
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if message %}
        {% include 'components/alert.html' with message=message category='green' type='Success' %}
      {% endif %}

      <div class="w-full rounded-lg space-y-2">
        <div class="flex items-center justify-between gap-2">
          <div class="flex items-center gap-4">
            <div class="w-10 h-10 rounded-full bg-gray-300">
              {% include 'components/profile-picture.html' with user=user editable=False %}
            </div>
            <div>
              <a href="{% url 'profiles:profile' post.author.username %}" class="block cursor-pointer hover:underline font-medium text-gray-900">{{ post.author.username }}</a>
              <small class="text-xs text-gray-500">{{ post.created_at|date:'M d, Y h:i A' }}</small>
            </div>
          </div>
        </div>

        <!-- Body -->
        <div>
          <textarea id="post-update-textarea" name="body" rows="4" maxlength="500" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500" placeholder="Write your thoughts...">{{ form.body.value|default_if_none:'' }}</textarea>
          {% include 'components/input-error-label.html' with errors=form.body.errors %}
        </div>

        <!-- Image -->
        <div class="relative w-full rounded-b-lg overflow-hidden file-input-group" data-removable="false">
          <input type="file" id="edit-post-image" name="image" class="hidden file-input" />
          <input type="checkbox" class="hidden file-clear" name="clear_image" />

          <div class="flex justify-between absolute top-0 left-0 w-full px-2 py-1">
            <label for="edit-post-image" class="inline-flex shadow items-center justify-center p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer">
              <svg class="w-5 h-5 me-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 3a1 1 0 0 1 .78.375l4 5a1 1 0 1 1-1.56 1.25L13 6.85V14a1 1 0 1 1-2 0V6.85L8.78 9.626a1 1 0 1 1-1.56-1.25l4-5A1 1 0 0 1 12 3ZM9 14v-1H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-4v1a3 3 0 1 1-6 0Zm8 2a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z" clip-rule="evenodd" />
              </svg>Update Image
            </label>
            <button type="button" class="file-remove shadow rounded-lg p-2.5 text-center bg-gray-100 text-gray-500 hover:text-gray-700">
              <span class="sr-only">Remove image</span>
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
              </svg>
            </button>
          </div>

          <img id="edit-post-image-preview"
            class="w-full file-placeholder"
            data-default="
               {% if post.image %}
              {% url 'generate_thumbnail' '608' post.image.url|urlencode %}
            {% else %}
              {% static 'images/placeholder.png' %}
            {% endif %}
            "
            src="
                 {% if post.image %}
              {% url 'generate_thumbnail' '608' post.image.url|urlencode %}
            {% else %}
              {% static 'images/placeholder.png' %}
            {% endif %}
             "
            data-static="{% static 'images/placeholder.png' %}"
            alt="Post image" />
        </div>
        <button type="submit" class="post-form-submit text-white inline-flex items-center bg-emerald-700 hover:bg-emerald-800 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          <svg class="me-1 -ms-1 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28" />
          </svg>Update
        </button>
      </div>
    </form>
  </div>
{% endblock %}
